.container {
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
}

.title {
	font-size: xx-large;
	font-weight: 300;
}

.content {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 50px;
}
